<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">

          <h2 class="card-title text-center">Welcome, {{ name }}!</h2>
          <p class="card-text text-center"> Account Number: {{id}}</p>
          <p class="card-text text-center">Username: {{username }}</p>
          <p class="card-text text-center">Primary Account Balance: {{primaryAccountBalance}}</p>
          <p class="card-text text-center">Saving Account Balance: {{savingAccountBalance}}</p>
        </div>
      </div>
    </div>
  </div>
</div>





